/* Remove browser styles */
* {
  /*outline: 1px dotted pink; */
  margin: 0;
  padding: 0;
}

/* Set font styles & background color */
body {
  background: #111 url("images/ansel_adams_leaves.jpg") no-repeat fixed center;
  background-size: cover;
  color: #ffe6cc;
  font-family: Open Sans, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: Ubuntu, sans-serif;
}

#page_wrapper {
  max-width: 1000px;
  margin: 0px auto;
}

section {
  height: 480px;
  width: 480px;
  position: relative;
  float: left;
  margin: 5px;
}

.section_content {
  border: 1px solid #b35900;
  overflow: hidden;
  padding: 10px;
  position: absolute;
}

h1 {
  font-size: 3em;
  letter-spacing: 0.15em;
  padding: 15px;
  text-shadow: -1px -1px 0.5px #b35900;
}

/* Styles for aligning the horizontal and vertical sections. */
.bottom {
  bottom: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
  clear: both;
}

.top {
  top: 0;
}

.horizontal {
  height: 60%;
  width: 95%;
}

.vertical {
  height: 95%;
  width: 65%;
}

/* Colored backgrounds */
/* Palette: http://paletton.com/palette.php?uid=72y0L0kup5-lVdPp%2B9kE62ERT0E */

.green {
  background-color: #1a3003;
}

.teal {
  background-color: #023131;
}

.brown {
  background-color: #311702;
}

.red {
  background-color: #300313;
}

h2 {
  letter-spacing: .05em;
  padding-bottom: 5px;
  text-shadow: -1px -1px 0.5px #000;
}

p {
  padding: 5px 0px;
}

a {
  text-decoration: none;
}

a:link {
  color: #e67300;
}

a:visited {
  color: #b35900;
}

a:hover {
  color: orange;
}

a:active {
  color: orange;
}

ol, ul {
  padding: 5px 5px 5px 25px;
}

.no_bullets {
  list-style-type: none;
  padding: 10px 0px;
}

.whitespace_top {
  padding: 5px 0px 0px 0px;
}
